rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Development
//    match /{document=**} {
//      allow read, write: if true;
//    }

    match /users/{userId} {
      // Allow creating a user document only with a authentication request
      allow create: if request.auth.uid == userId; //check
    }

    match /users/{userId}/exercises/{exerciseId} {
      allow get, list: if request.auth.uid != null &&
                          request.auth.uid == userId;

      // Allow read, update, delete the user document
      // which belongs to the user from the request
      allow create, update, delete: if request.auth.uid == userId;
    }
  }
}