{{template "header.html"}}
<h1 class="title">
	Add Exercise
</h1>

<form action="/add" method="POST">

  {{ range $key, $value := .exercise }}
  <p>{{ $key }}: {{ $value }}</p>
  {{ end }}


  <div>
    <label for="Name">Name:</label>
    <input type="text" name="Name" id="Name" required>
  </div>
  <div>
    <label for="Description">Description</label>
    <input type="text" name="Description" id="Description">
  </div>
  <button type="submit" value="Submit" class="btn btn-primary">Save</button>
</form>


{{template "footer.html"}}