{{template "header.html"}}

<div class="container">
  <a class="btn btn-primary" href="/add" role="button">Add Exercise</a>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range $exercise := .exercises }}

      <tr>
        <th scope="row">{{ .ID }}</th>
        <td><a href="/exercise/{{ .ID }}">{{ .Name }}</a></td>
        <!-- link  -->
        <td>{{ .Description }}</td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-success">Track</button>
            <button type="button" class="btn btn-primary">Details</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </td>
      </tr>
      {{ end }}
    </tbody>
</table>
{{template "footer.html"}}