{{define "content"}}

<a href="/exercise/create" class="btn btn-primary">Create Exercise</a>


<table class="table table-striped">
    <thead class=".table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Exercise</th>
        <th scope="col">Input</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{ if .Exercises }}

      {{ range .Exercises }}
      <tr>
        <form action="/">
        <th scope="row">{{.ID}}</th>
        <td>{{ .Name }}</td>
        <td>
          <label class="form-label" for="reps">Reps:</label>
          <input class="form-control" type="number" id="reps" name="rps" value="5"><br><br>
        </td>
        <td>
          <input type="submit" value="Track">
        </td>
        </form>
      </tr>
      {{end}}

      {{ else }}
      <p>No Exercises yet</p>
      {{ end }}

    </tbody>
  </table>

{{end}}
